.cardSkeleton {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 12px;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}

.card-image-skeleton {
  display: flex;
  height: 140px;
  background: #f6f2f2;
  justify-content: center;
  align-items: center;
}

.card-image-skeleton img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.card-body-skeleton {
  padding: 10px;
  text-align: left;
}

.card-title-skeleton {
  height: 12px;
  background: #efeded;
  font-size: 16px;
  margin-top: 8px;
}

.card-price-skeleton {
  height: 12px;
  background: #efeded;
  font-weight: bold;
  margin: 6px 0;
}

.card-footer-skeleton {
  display: flex;
  height: 12px;
  background: #efeded;
  gap: 8px;
  align-items: center;
}

.card-divider-skeleton {
  height: 1px;
  background-color: #eee;
}
